body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #ffffff;
}

header {
  background: #bb6274;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: rgb(70, 47, 47);
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}